﻿<%@ Page Title="Product" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="produkt.aspx.cs" Inherits="produkt" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    
    <div class="row">
        <table>
            <tr>
                <td >
                     <asp:Image ID="ProductImage" runat="server" />
                </td>
                <td>
                    Nazwa:<asp:Label ID="Name" runat="server" Text="Label"></asp:Label>
                </td>
            </tr>
            <tr>
                
                <td >
                   Producent:<asp:Label ID="Producent" runat="server" Text="Label"></asp:Label>
                </td>
            </tr>
             <tr>
                 
                <td colspan="2" >
                  Cena:<asp:Label ID="Price" runat="server" Text="Label"></asp:Label>
                </td>
            </tr>
            <tr>
               
                <td colspan="2" >
                    Ilość:<asp:Label ID="Quantity" runat="server" Text="Label"></asp:Label>
                </td>
            </tr>
            <tr>
                
                <td colspan="2" >
                    Opis:<asp:Label ID="Descripction" runat="server" Text="Label"></asp:Label>
                </td>
            </tr>
            
        </table>
       
        
        
         
        
        
        <asp:ImageButton ID="kupb" runat="server" CssClass="cbimg" ImageUrl="https://png.pngtree.com/element_pic/17/03/19/e5640c684740cc3525222aae0fd9c01f.jpg" />
       
    </div>

</asp:Content>
