﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="addklient.aspx.cs" Inherits="Account_addklient" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
    <div class="row">
    <asp:Label runat="server" Text="Login"></asp:Label><br />
    <asp:TextBox ID="login" runat="server"></asp:TextBox><br />
    <asp:Label runat="server" Text="Haslo"></asp:Label><br />
    <asp:TextBox ID="haslo" runat="server"></asp:TextBox><br />
    <asp:Label runat="server" Text="Email"></asp:Label><br />
    <asp:TextBox ID="email" runat="server"></asp:TextBox><br />
    <asp:Label runat="server" Text="Dane do wysylki"></asp:Label><br />
    <asp:TextBox ID="danedowysylki" runat="server"></asp:TextBox><br />
    <asp:Button ID="dodaj" runat="server" Text="Dodaj" OnClick="dodaj_Click" />
        </div>
</asp:Content>

