﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="addproduct.aspx.cs" Inherits="Account_addproduct" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server">
    <div class="row">
        <asp:Label runat="server" Text="Nazwa"></asp:Label><br />
        <asp:TextBox ID="nazwa" runat="server"></asp:TextBox><br />
        <asp:Label runat="server" Text="Producent"></asp:Label><br />
        <asp:TextBox ID="producent" runat="server"></asp:TextBox><br />
        <asp:Label runat="server" Text="Cena"></asp:Label><br />
        <asp:TextBox ID="cena" runat="server"></asp:TextBox><br />
        <asp:Label runat="server" Text="zdjecie"></asp:Label><br />
        <asp:TextBox ID="zdjecie" runat="server"></asp:TextBox><br />
        <asp:Label runat="server" Text="opis"></asp:Label><br />
        <asp:TextBox ID="opis" runat="server"></asp:TextBox><br />
        <asp:Button ID="dodajprodukt" runat="server" Text="Dodaj produkt" OnClick="dodajprodukt_Click" />
    </div>
</asp:Content>

