﻿<%@ Page Title="Product" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="Product.aspx.cs" Inherits="Product" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    
    <div class="row">
        
        <asp:Image ID="ProductImage" runat="server" Width="500px" Height="500px"/><br />
        <asp:Label ID="Nazwa" runat="server" Text="Label"></asp:Label><br />
        <asp:Label ID="Opis" runat="server" Text="Label"></asp:Label><br />
         <asp:Label ID="Producent" runat="server" Text="Label"></asp:Label><br />
        <asp:Label ID="Cena" runat="server" Text="Label"></asp:Label><br />
        
        <asp:ImageButton ID="buttonKup" runat="server"  ImageUrl="https://image.flaticon.com/icons/png/512/2/2054.png" style="width:100px;height:100px" OnClick="buttonKup_Click"  />
       
    </div>

</asp:Content>
